#title{
    position: relative;
    margin-top: 5%;
    font: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px;    
    text-align: center;
    size: 10vw;
}
#testType{
    position: absolute;
    left: 30%;
    height: 4.5vh;
    width: 18.55vw;
}
#optionBox{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 50%;
    left: 25%;
}
#next{
    position: relative;
    text-align: center;
    width: 15vh;
    height: 5vh;
    left: 50%;
}
.textBox{
    position: absolute;
    left: 30%;
    height: 3vh;
    width: 18.2vw;
}
.texto{
    position: center;
    height: 4vh;
    width: 18.2vw;
}